<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap-icons.css" />
        <script defer src="js/bootstrap.bundle.min.js"></script>

        <style>
            html,
            body {
                height: 100%;
            }

            .center-items {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>

        <title>Optiplex Power Management</title>
    </head>
    <body>
        <div class="center-items" style="height: 100%; flex-direction: column">
            <div class="center-items">
                <% messages.forEach(message => { %>
                <div class="alert <%= message.type %> mb-3" role="alert">
                    <%= message.info %>
                </div>
                <% }) %>
            </div>
            <div class="container center-items">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <form action="/api/shutdown" method="post">
                                    <input
                                        type="hidden"
                                        name="token"
                                        value="<%- token %>"
                                    />
                                    <button
                                        class="btn btn-danger center-items"
                                        type="submit"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Shutdown"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="64"
                                            height="64"
                                            fill="currentColor"
                                            class="bi bi-power"
                                            viewBox="0 0 16 16"
                                        >
                                            <path d="M7.5 1v7h1V1z" />
                                            <path
                                                d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812"
                                            />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <div class="col">
                                <form action="/api/suspend" method="post">
                                    <input
                                        type="hidden"
                                        name="token"
                                        value="<%- token %>"
                                    />
                                    <button
                                        class="btn btn-primary center-items"
                                        type="submit"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Suspend"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="64"
                                            height="64"
                                            fill="currentColor"
                                            class="bi bi-moon"
                                            viewBox="0 0 16 16"
                                        >
                                            <path
                                                d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"
                                            />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <div class="col">
                                <form action="/api/reboot" method="post">
                                    <input
                                        type="hidden"
                                        name="token"
                                        value="<%- token %>"
                                    />
                                    <button
                                        class="btn btn-warning center-items"
                                        type="submit"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Reboot"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="64"
                                            height="64"
                                            fill="currentColor"
                                            class="bi bi-arrow-clockwise"
                                            viewBox="0 0 16 16"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"
                                            />
                                            <path
                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"
                                            />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <% if (shutDownDate) { %>
                        <div
                            class="row center-items mt-3"
                            style="flex-direction: column"
                        >
                            Server is shutting down on <%= shutDownDate %>
                            <form action="/api/disarm" method="post">
                                <div class="center-items">
                                    <input
                                        type="hidden"
                                        name="token"
                                        value="<%- token %>"
                                    />
                                    <button
                                        class="btn btn-info center-items mt-1"
                                        style="width: 30%"
                                        type="submit"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Reboot"
                                    >
                                        Snooze
                                    </button>
                                </div>
                            </form>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
